/* SOLO IMPORT */
@import "./utils/variables";
@import "./utils/listas";
@import "./utils/mapas";
@import "./utils/mixin";
@import "./utils/extend";

/* ESTILOS GLOBALES */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    overflow-x: hidden; 
    width: 100%;
    font-family: 'Poppins',
     sans-serif;
  }


footer {
    background-color: $color-negro; 
    min-height: 120px; 
    margin-top: 20px; 
}



.navbar img{
    object-fit: cover;
    width: 90px;
    height: 90px;
}

header img{
    max-width: 200px;
    max-height: 200px;
    height: auto;
    padding: 10px;
}

header nav ul li a{
    color: $color-blanco;
    text-decoration: none;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.logo-mp{
    max-width: 300px; 
    height: auto;
}
.footer-estilos{
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    padding: 15px;
}
.container-todos{
    width: 90%;
    margin: auto;
}
a:hover {
    color: $color-negro;
    text-decoration: underline;
  }
  


                    /* PAGINA DE HOME */
.fondo{
    background-color: #CEAB98;
}
.agrando-p-index{
    font-size: 14px;
}
.color-home{
    background-image: url(../multimedia/home.jpg)
}

.color-menu-home{
    color: #362706;
    text-decoration: underline;
    
}
.color-negro{
    color: $color-negro;
}
.agrandar-menu{
    color: $color-blanco;  
}
.cont{
    position: relative;
    display: block;
    img{
        width: 100%;
        height: 100%;
        padding: 20px;
    }
}
.texto {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
   
}
.parrafo{
    font-size: 20px;
    color: $color-blanco;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 6px;
    border-radius: 10px;
    border: $borde;
    font-weight: 500;
    z-index: 1000;

}
.parrafo2, .parrafo3{
    @include parrafos;
}


hr.black-line2{
    border-color: $color-negro;
    margin-bottom: 10px;
}

.whatsapp-icono {
    @include redes;
    bottom: 20px;
    background-color: $wsp;
    img {
        @include redes-img;
    }
}
.instagram-icono{
    @include redes;
    bottom: 90px;
    background-color: $ig;
    img {
        @include redes-img;
    }
}

.color-blanco{
    background-color: $color-blanco;
}
.visita{
    a{
        background: linear-gradient(to bottom, #3c2a21e1, #63524ae1); 
        color: $color-blanco; 
        border: $borde; 
        text-decoration: none; 
        padding: 10px 20px;
        border-radius: 5px;
    }
}




                    /* PAGINA DE CONTACTO */
.color-cont{
    background-image: url(../multimedia/z1.jpg);
}

.color-todo-cont{
    background-color: #FAEAB1;
}
.tit-cont{
    font-weight: bold;
    text-decoration: underline;
}
.margin-cont{
    margin-bottom: 20px;
}






                                       /* PAGINA DE PRODUCTOS */

.container-todos{
    width: 90%;
    margin: auto;
    .tit{   
        @include titulos-productos;
        font-size: 30px;
        font-weight: 800;
    }
    .tit2{
        @include titulos-productos;
        font-size: 20px;
        font-weight: 300;
        
    }
}
.prod-body{
    background-color: $prod-body;  
}
.agrando img{
    width: 150px;
    height: 150px;
}
.todos_titulos{
    font-weight: 600;
    text-decoration: underline;
}


.padre-productos{
    @include productos(80%, auto auto, center);
    display: grid;
    margin: 0 auto;
    grid-template-rows: auto auto;
    background-color: $color-blanco;
    align-items: center;
    border: $borde;
    border-radius: 5px;
}

.divs{
    margin: 10px; 
}

.divs-doble{
    grid-column: span 2;
    text-align: center;
}

.divs img{
    width: 90px;
    height: 90px;
    margin-left: 20px;
}
.father{
    display: grid;
    row-gap: 0.5rem;
}
.tit-bombones{
    margin-top: 10px;
    color: $color-blanco;
    text-decoration: overline;
}


.texto-corrido{
    margin-left: 10px;
}
div .texto-secundario{
    display: none;
}

.padre-bombones{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-content: space-evenly;  
}
.padding-prod{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    .margen-prod{
        margin-top: 3%;
    }
}










                    /* PAGINA DE PROMOS */

.promo-body{
    background: $gradient-promo;
}
.fondopromo{
    background-color: #D5CEA3;
}
.promos {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
}

.promo {
    @include flex;
    width: 100px;
    height: 100px;
    background: $gradient-promo; 
    border: $borde;  
    border-radius: 10px; 
    margin: 10px; 
    font-weight: bold;
    font-size: 16px;
    color: $color-negro;  
}
hr.black-line {
    border-color: $color-negro;
    width: 80%;
    margin-left: 129px;
}
.imagenes-promos{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;

    img{
        width: 130px;
        height: 130px;
        object-fit: cover;
        margin-top: 20px;
    }
    .parr-promos{
        display: none;
    }
}
.texto-promo1{
    margin-top: 20px;
}






                        /* CODIGO DE "NOSOTROS" */

.textos-nosotros{
    @include flex;
    flex-direction: column;
     
    .nos2{
        color: $color-blanco;
        font-size: 17px;
        background-color: $color-nos2; 
        padding: 10px;
        border-radius: 10px;
        border: $borde; 
    }
}
.container{
    margin-bottom: 20px;
    .btn-marron {
        @extend %boton; 
    }
}
.color-nos{
    background-image: url(../multimedia/Clinchi.jpg);
}


.degrade-nos{
    background: linear-gradient( $color-nos2, $color-blanco);
}
.animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}


.animate__slideInLeft {
    animation-name: slideInLeft;
    animation-delay: 0.5s;
}


.animate__slideInRight {
    animation-name: slideInRight;
    animation-delay: 0.5s;
}



@import "./utils/media";
