%boton {
    background: linear-gradient(to bottom, #3c2a21e1, #63524ae1 ); 
    color: $color-blanco; 
    border: $borde; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    text-decoration: none; 
    padding: 10px 20px;
    border-radius: 5px;
}