// HOME

@media (min-width: 321px) and (max-width: 500px){
    div{
        a{
            .whatsapp-icono {
                width: 50px; 
                height: 50px;
                bottom: 10px; 
                z-index: 1000;
            } 
            .instagram-icono{
                width: 50px; 
                height: 50px;
                bottom: 70px;
                z-index: 1000;
            }
        }
    }
    main{
        div{
            h1{
                .parrafo{
                    font-size: 15px; 
                    padding: 8px;
                }
            }
        }
        div{
            .texto{
                top: 22%;
            }
        }
    }
    div{
        p{
            .parrafo2, .parrafo3 {
                font-size: 15px; 
                padding: 8px; 
            }
        }
    }
    header{
        .navbar-toggler {
            font-size: 1rem;
        }
    }
}



@media (min-width: 900px) and (max-width: 1199px){
    div{
        a{
            .whatsapp-icono {
                width: 70px; 
                height: 70px;
                bottom: 10px; 
                z-index: 1000;
            } 
            .instagram-icono{
                width: 70px; 
                height: 70px;
                bottom: 90px;
                z-index: 1000;
            }
        }
    }
    main{
        .agrando2 img {
            padding: 10px; 
        }
        .cont{
            display: grid;
            grid-template-columns: 50% 50%;
        }
        div{
            .texto{
                left: 25%;
                top: 52%;
            }
            h1{
                .parrafo{
                    font-size: 22px;
                }
            }
        }
        div{
            p{
                .parrafo3{
                    font-size: 16px;
                    padding: 10px;
                }
                .parrafo2{
                    font-size: 16px;
                    padding: 10px;
                    margin-top: 10px;
                }
            }
        }
    }
    header{
        ul{
            li{
                a{
                    .agrandar-menu{
                        font-size: 17px;
                    }
                }
            }
        }
    }
}




@media (min-width: 1200px){
    div{
        a{
            .whatsapp-icono {
                width: 80px; 
                height: 80px;
                bottom: 105x; 
                z-index: 1000;
            } 
            .instagram-icono{
                width: 80px; 
                height: 80px;
                bottom: 105px;
                z-index: 1000;
            }
        }
    }
    main{
        .agrando2 img {
            padding: 10px; 
        }
        .cont{
            display: grid;
            grid-template-columns: 50% 50%;
        }
        div{
            .texto{
                left: 25%;
                top: 52%;
            }
            h1{
                .parrafo{
                    font-size: 26px;
                }
            }
        }
        div{
            p{
                .parrafo2, .parrafo3{
                    font-size: 20px;
                    padding: 15px;
                }
            }
        }
    }
    header{
        ul{
            li{
                a{
                    .agrandar-menu{
                        font-size: 19px;
                    }
                }
            }
        }
    }
}



// PRODUCTOS


@media (max-width: 320px) {
    div{
        section{
            .padre-productos,
            .padre-productos2,
            .padre-productos3 {
                width: 90%; 
                grid-template-columns: auto; 
                row-gap: 1rem; 
                justify-items: flex-start;
                padding: 5px;
                
            }
            div{
                .divs{
                    img{
                        width: 60px; 
                        height: 60px;
                    }
                }
                p{
                    .texto-secundario{
                        display: block; 
                        margin-top: 5px; 
                        font-size: 12px;
                    }
                    .texto-corrido {
                        margin-left: 5px; 
                    }
                    .divs-texto{
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
            }
            .agrandar {
                font-size: 16px; 
                img {
                    height: 180px;
                    width: 180px;
                }
            }
        }
        div{
            .tit-bombones{
                padding: 10px;
                font-size: 18px;         
            }
        }
    }
    main{
        h1{
            #tit{
                font-size: 24px;
            }
        }
        h2{
            .tit2 {
                font-size: 18px; 
            }
        }
    }
}



@media (min-width: 321px) and (max-width: 500px) {
    div{
        section{
            .padre-productos,
            .padre-productos2,
            .padre-productos3 {
                width: 90%; 
                grid-template-columns: auto; 
                row-gap: 1rem; 
                justify-items: flex-start;
                padding: 5px;
                
            }
            div{
                .divs{
                    margin: 10px 0;
                    img{
                        width: 70px;
                        height: 70px;
                        margin-left: 0;
                    }
                }
                p{
                    .texto-secundario{
                        display: block; 
                        margin-top: 5px; 
                        font-size: 14px;                
                    }
                    
                    .divs-texto{
                        text-decoration: underline;
                        font-weight: bold;

                    }
                }
            }
            .agrandar {
                justify-items: flex-start;
                font-size: 18px; 
                img {
                    height: 190px;
                    width: 190px;
                }
            }
        }
    }
}




@media (min-width: 768px){
    div{
        section{
            div{
                .divs{
                    img{
                        align-content: space-evenly;
                        margin-left: 35%;
                        width: 130px;
                        height: 130px;                                
                    }
                }
            }
            div{
                p{
                    .divs-texto{
                        text-decoration: underline;
                        font-weight: bold;
                        font-size: 18px;
                        text-align: center;                
                    }
                    .texto-secundario{
                        display: grid;
                        text-align: center;
                    }                
                }
            }
        }
        div{
            p{
                .tit-bombones{
                    font-size: 20px;
                }
            }
        }
    }
    main{
        h1{
            #tit{
                font-size: 40px;
            }
        }
        h2{
            .tit2 {
                font-size: 30px; 
            }
        }
    }
}



@media (min-width: 1200px) {
    div{
        section{
            .padre-productos,
            .padre-productos2,
            .padre-productos3 {
                width: 80%;
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
                background-color: white;
                justify-items: center;
                align-items: center;
                border-radius: 5px;
                grid-gap: 10px;
                padding: 20px; 
            }
            .padre-productos .divs p,
            .padre-productos2 .divs p,
            .padre-productos3 .divs p {
                margin: 10px 0;
            }
            div{
                .divs{
                    text-align: center;
                    img {
                        width: 150px;
                        height: 150px;
                        margin: 10px auto;
                        display: block;
                      }              
                }
            }
        }
    }
}