/* HOME */
@import "../utils/listas";
@media (max-width: 320px) {        
    .cont {
        padding: 0; 
    }
    
    .navbar-toggler {
        font-size: 0.8rem;
    }

    .cont img {
        padding: 10px; 
    }
    
    .texto {
        top: 20%;
        transform: translate(-50%, -50%);
    }
    
    .parrafo, .parrafo2, .parrafo3 {
        font-size: 14px; 
        padding: 8px; 
    }
    
    .footer-estilos {
        grid-template-columns: 1fr;
        font-size: 14px;
        text-align: center;
        padding: 20px;
      }
      footer{
        min-height: 100px; 
      }
      h6{
        font-size: 14px;
      }
    
    .logo-mp {
        max-width: 200px; 
    }
    
    
    .whatsapp-icono {
        width: 50px; 
        height: 50px;
        bottom: 10px; 
    }
    .instagram-icono{
        width: 50px; 
        height: 50px;
        bottom: 70px;
    }
    .parrafo3{
        display: none;
    }
}
/* HOME */
@media (min-width: 321px) and (max-width: 500px){
    .whatsapp-icono {
        width: 50px; 
        height: 50px;
        bottom: 10px; 
        z-index: 1000;
    } 
    .instagram-icono{
        width: 50px; 
        height: 50px;
        bottom: 70px;
        z-index: 1000;
    }
    .container-fluid img{
        height: 90px;
        width: 90px;  
        padding: none;   
    }
    .parrafo2 {
        font-size: 15px; 
        padding: 8px; 
    }
    .parrafo3{
        display: none;
    }
    .parrafo{
        margin-bottom: 20px;
        font-size: 15px; 
        padding: 8px; 
    }
    .texto{
        top: 33%;
    }
    .visita{
        font-size: 14px;
        font-weight: 500;
        a{
            font-weight: 300;
        }
    }
    .navbar-toggler {
        font-size: 1rem;
    }
    .footer-estilos {
        grid-template-columns: auto;
        font-size: 15px;
        text-align: center;
      }
      footer{
        min-height: 100px; 
      }
      h6 {
        font-size: 16px;
      }
    
    .logo-mp {
        max-width: 215px; 
    }
    
}
@media (min-width: 501px) and (max-width: 700px){
    .whatsapp-icono {
        width: 50px; 
        height: 50px;
        bottom: 10px; 
        z-index: 1000;
    } 
    .instagram-icono{
        width: 50px; 
        height: 50px;
        bottom: 70px;
        z-index: 1000;
    }
    .parrafo2, .parrafo3{
        font-size: 16px; 
        padding: 8px;
    }
    .parrafo{
        font-size: 21px; 
        padding: 8px;
        margin-top: 40px;
    }
    .texto{
        top: 22%;
    }
    .navbar-toggler {
        font-size: 1rem;
    }
    .container-fluid img{
        height: 110px;
        width: 110px;
    }
    .visita{
        font-size: 17px;
        font-weight: 600;
        a{
            font-weight: 400;
        }
    }
@media (min-width: 701px) and (max-width: 899px){
    .container-fluid img{
        height: 170px;
        width: 170px;
    }
    .whatsapp-icono {
        width: 60px; 
        height: 60px;
        bottom: 10px; 
        z-index: 1000;
    } 
    .instagram-icono{
        width: 60px; 
        height: 60px;
        bottom: 90px;
        z-index: 1000;
    }
    
    .texto{
        left: 25%;
        top: 52%;
    }
    .cont{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .parrafo{
        font-size: 19px;
    }
    .parrafo3{
        font-size: 17px;
        padding: 10px;
    }
    .parrafo2{
        margin-top: 15px;
        font-size: 15px;
        padding: 10px;
    }
    .agrandar-menu{
        font-size: 15px;
    }
    .agrando-p-index{
        font-size: 16px;
    }
    .agrando-tit-index{
        font-size: 21px;
    }
    .visita{
        font-size: 18px;
        font-weight: 600;
        a{
            font-weight: 400;
        }
    }
}
}
@media (min-width: 900px) and (max-width: 1199px){
    .container-fluid img{
        height: 170px;
        width: 170px;
    }
    .whatsapp-icono {
        width: 70px; 
        height: 70px;
        bottom: 10px; 
        z-index: 1000;
    } 
    .instagram-icono{
        width: 70px; 
        height: 70px;
        bottom: 90px;
        z-index: 1000;
    }
    
    .texto{
        left: 25%;
        top: 52%;
    }
    .cont{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .parrafo{
        font-size: 23px;
    }
    .parrafo3{
        font-size: 15px;
        padding: 10px;
    }
    .parrafo2{
        margin-top: 15px;
        font-size: 15px;
        padding: 10px;
    }
    .agrandar-menu{
        font-size: 17px;
    }
    .agrando-p-index{
        font-size: 16px;
    }
    .agrando-tit-index{
        font-size: 21px;
    }
    .visita{
        font-size: 19px;
        font-weight: 700;
        a{
            font-weight: 500;
        }
    }
    .footer-estilos {
        grid-template-columns: auto auto;
        font-size: 20px;
        text-align: center;
      }
      footer{
        min-height: 120px; 
      }
      h6 {
        font-size: 20px;
      }
    
    .logo-mp {
        max-width: 400px; 
    }
}
@media (min-width: 1200px){
    .whatsapp-icono {
        width: 80px; 
        height: 80px;
        bottom: 105x; 
        z-index: 1000;
    } 
    .instagram-icono{
        width: 80px; 
        height: 80px;
        bottom: 105px;
        z-index: 1000;
    }
    .agrando2 img {
        padding: 10px; 
    }
    .texto{
        left: 25%;
        top: 52%;
    }
    .cont{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .parrafo{
        font-size: 26px;
        font-weight: 800;
    }
    .parrafo2, .parrafo3{
        font-size: 20px;
        padding: 15px;
        margin-top: 20px;
        &:hover{
            font-size: 22px;
        }
    }
    .agrandar-menu{
        font-size: 19px;
        margin-left: 10px;
    }
    .agrando-p-index{
        font-size: 20px;
    }
    .agrando-tit-index{
        font-size: 25px;
        font-weight: 800;
    }
    .visita{
        font-size: 20px;
        font-weight: 800;
        a{
            font-weight: 600;
        }
    }
    .footer-estilos {
        grid-template-columns: auto auto;
        font-size: 26px;
        text-align: center;
      }
      footer{
        min-height: 140px; 
      }
      h6 {
        font-size: 26px;
      }
    
    .logo-mp {
        max-width: 500px; 
    }

}


/* PRODUCTOS */
@media (max-width: 320px) {
    .padre-productos{
        width: 90%; 
        grid-template-columns: auto; 
        row-gap: 1rem; 
        justify-items: flex-start;
        padding: 5px;
        
    }
    #tit {
        font-size: 24px;
    }

    .tit2 {
        font-size: 18px; 
    }

    .divs img {
        width: 60px; 
        height: 60px;
    }
    div .texto-secundario {
        display: block; 
        margin-top: 5px; 
        font-size: 12px;

    }

    .agrandar img {
        height: 180px;
        width: 180px;
    }

    .agrandar {
        font-size: 16px; 
    }
    .tit-bombones {
        padding: 10px;
        font-size: 18px; 
    }

    .texto-corrido {
        margin-left: 5px; 
    }
    .divs-texto{
        text-decoration: underline;
        font-weight: bold;
    }
}
/* PRODUCTOS */

/* PRODUCTOS */
@media (min-width: 321px) and (max-width: 500px) {
    .padre-productos{
        @include productos(90%, auto, flex-start);
      row-gap: 1rem; 
      padding: 5px;
    }
  
    .divs {
      margin: 10px 0;
    }
  
    .agrandar img {
      height: 200px;
      width: 200px;
    }
  
    .agrandar {
      font-size: 18px;
    }
  
    div .texto-secundario {
        display: block; 
        margin-top: 5px; 
        font-size: 14px;
    }
    .divs img {
      width: 70px;
      height: 70px;
      margin-left: 0;
    }
    .agrandar img {
        height: 180px;
        width: 180px;
        
    }
    .agrandar {
        justify-items: flex-start;
    }
    .divs-texto{
        text-decoration: underline;
        font-weight: bold;
    }
  
  }
  
/* PRODUCTOS */






@media (min-width: 768px){
    /* PRODUCTOS */
    .container-fluid img{
        height: 140px;
        width: 140px;
    }
    
    .header-todos img{
        width: 200px;
        height: 200px;
    }
    .divs img{
        align-content: space-evenly;
        margin-left: 35%;
    }
    .tit{
        font-size: 40px;
    }
    .tit2{
        font-size: 30px;
    }
    .tit-bombones{
        font-size: 20px;
    }
    .divs img{
        width: 130px;
        height: 130px;
    }
    .divs-texto{
        text-decoration: underline;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }
    div .texto-secundario{
        display: grid;
        text-align: center;
    }
    /* PRODUCTOS */
}

    /* PRODUCTOS */
    @media (min-width: 1200px) {
        .padre-productos {
          width: 80%;
          margin: 0 auto;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
          background-color: $color-blanco;
          justify-items: center;
          align-items: center;
          border-radius: 5px;
          grid-gap: 10px;
          padding: 20px; 
        }
        .divs {
          text-align: center;
        }
      
        .divs img {
          width: 150px;
          height: 150px;
          margin: 10px auto;
          display: block;
        }
      
        .padre-productos .divs p{
          margin: 10px 0;
        }
      
        .agrando img {
          width: 200px;
          height: 200px;
        }
      }
      /* PRODUCTOS */

      //CONTACTO
      @media (min-width: 321px) and (max-width: 500px){
        .margin-cont{
            font-size: 14px;
        }
        .tit-cont{
            font-size: 26px;
        }
        .tit2-cont{
            font-size: 16px;
        }
        .boton-cont{
            width: 12px;
            height: 12px;
        }
      }
      @media (min-width: 501px) and (max-width: 700px){
        .margin-cont{
            font-size: 13px;
        }
        .tit-cont{
            font-size: 27px;
        }
        .tit2-cont{
            font-size: 14px;
        }
        .boton-cont{
            width: 13px;
            height: 13px;
        }
      }

      @media (min-width: 701px) and (max-width: 899px){
        .margin-cont{
            font-size: 15px;
        }
        .tit-cont{
            font-size: 29px;
        }
        .tit2-cont{
            font-size: 17px;
        }
        .boton-cont{
            width: 15px;
            height: 15px;
        }
        .agrandar-menu{
            font-size: 16px;
        }
        .container-fluid img{
            height: 130px;
            width: 130px;
        }
      }

      //CONTACTO
      @media (min-width: 900px) and (max-width: 1199px){
        .margin-cont{
            font-size: 18px;
        }
        .tit-cont{
            font-size: 32px;
        }
        .tit2-cont{
            font-size: 22px;
        }
        .boton-cont{
            width: 19px;
            height: 19px;
        }
        .agrandar-menu{
            font-size: 20px;
        }
    }

      //CONTACTO
      @media (min-width: 1200px){
        .margin-cont{
            font-size: 22px;
        }
        .tit-cont{
            font-size: 36px;
        }
        .tit2-cont{
            font-size: 26px;
        }
        .boton-cont{
            width: 25px;
            height: 25px;
        }
        .agrandar-menu{
            font-size: 22px;
        }
    }
    // PROMOS
    @media (max-width: 320px) {
        .imagenes-promos{
            grid-template-columns: auto;
            
            .parr-promos{
                display: block;
                text-decoration: underline;
                font-weight: bold;
                
            }
        }
        .font-promo{
            font-size: 22px;
            margin-top: 50px;
        }
        .font-promo2{
            font-size: 18px;
        }
        .color-boton{
            background: linear-gradient(#3c2a21e1, #63524ae1); 
        }
        .promo{
            width: 100px;
            height: 75px;
        }
    }
    @media (min-width: 321px) and (max-width: 500px){
        .imagenes-promos{
            grid-template-columns: auto;
            
            .parr-promos{
                display: block;
                text-decoration: underline;
                font-weight: bold;
                
            }
        }
        .font-promo{
            font-size: 26px;
            margin-top: 50px;
        }
        .font-promo2{
            font-size: 22px;
        }
        .color-boton{
            background: linear-gradient(#3c2a21e1, #63524ae1); 
        }
        .promo{
            width: 100px;
            height: 100px;
        }
        .texto-promo1{
            font-size: 22;
        }
        .texto-promo2{
            font-size: 18;
        }
    }
    @media (min-width: 501px) and (max-width: 700px){
        .imagenes-promos{
            grid-template-columns: auto;
            
            .parr-promos{
                display: block;
                text-decoration: underline;
                font-weight: bold;
                
            }
        }
        .color-boton{
            background: linear-gradient(#3c2a21e1, #63524ae1); 
        }
        .font-promo{
            font-size: 29px;
            margin-top: 50px;
        }
        .font-promo2{
            font-size: 25px;
        }
        .promo{
            width: 110px;
            height: 110px;
            font-size: 20px;
        }
        .texto-promo1{
            font-size: 24;
        }
        .texto-promo2{
            font-size: 20;
        }
    }
    @media (min-width: 701px) and (max-width: 900px){
        .imagenes-promos{
            grid-template-columns: auto;
            
            .parr-promos{
                display: block;
                text-decoration: underline;
                font-weight: bold;
                
            }
        }
        .color-boton{
            background: linear-gradient(#3c2a21e1, #63524ae1); 
        }
        .font-promo{
            font-size: 32px;
            margin-top: 50px;
        }
        .font-promo2{
            font-size: 28px;
        }
        .promo{
            width: 120px;
            height: 120px;
            font-size: 22px;
        }
        .texto-promo1{
            font-size: 26;
        }
        .texto-promo2{
            font-size: 22;
        }
    }
    @media (min-width: 900px) and (max-width: 1199px){
        .imagenes-promos{
            grid-template-columns: auto;
            
            .parr-promos{
                display: block;
                text-decoration: underline;
                font-weight: bold;
                
            }
        }
        .color-boton{
            background: linear-gradient(#3c2a21e1, #63524ae1); 
        }
        .font-promo{
            font-size: 32px;
            margin-top: 50px;
        }
        .font-promo2{
            font-size: 28px;
        }
        .promo{
            width: 130px;
            height: 130px;
            font-size: 24px;
        }
        .texto-promo1{
            font-size: 28;
        }
        .texto-promo2{
            font-size: 24;
        }
    }
    @media (min-width: 1200px){
        .imagenes-promos{
            grid-template-columns: auto;
            
            .parr-promos{
                display: block;
                text-decoration: underline;
                font-weight: bold;
                
            }
        }
        .color-boton{
            background: linear-gradient(#3c2a21e1, #63524ae1); 
        }
        .font-promo{
            font-size: 33px;
            margin-top: 50px;
        }
        .font-promo2{
            font-size: 29px;
        }
        .promo{
            width: 140px;
            height: 140px;
            font-size: 25px;
        }
        .texto-promo1{
            font-size: 28;
        }
        .texto-promo2{
            font-size: 24;
        }
    }
    @media (min-width: 321px) and (max-width: 500px){
        .nos2{
            font-size: 15px;
        }
    }
