/* HOME */
@import "../utils/listas";
@media (max-width: 320px) {        
    .cont {
        padding: 0; 
    }
    
    .navbar-toggler {
        font-size: 0.8rem;
    }

    .agrando2 img {
        padding: 10px; 
    }
    
    .texto {
        top: 20%;
        transform: translate(-50%, -50%);
    }
    
    .parrafo, .parrafo2, .parrafo3 {
        font-size: 14px; 
        padding: 8px; 
    }
    
    .footer-estilos {
        grid-template-columns: 1fr;
        font-size: 14px;
        text-align: center;
        padding: 20px;
      }
      footer{
        min-height: 100px; 
      }
      h6{
        font-size: 14px;
      }
    
    .logo-mp {
        max-width: 200px; 
    }
    
    
    .whatsapp-icono {
        width: 50px; 
        height: 50px;
        bottom: 10px; 
    }
    .instagram-icono{
        width: 50px; 
        height: 50px;
        bottom: 70px;
    }
}
/* HOME */
@media (min-width: 321px) and (max-width: 500px){
    .whatsapp-icono {
        width: 50px; 
        height: 50px;
        bottom: 10px; 
        z-index: 1000;
    } 
    .instagram-icono{
        width: 50px; 
        height: 50px;
        bottom: 70px;
        z-index: 1000;
    }
    .parrafo, .parrafo2, .parrafo3 {
        font-size: 15px; 
        padding: 8px; 
    }
    .texto{
        top: 22%;
    }
    .navbar-toggler {
        font-size: 1rem;
    }
    .footer-estilos {
        grid-template-columns: auto;
        font-size: 14px;
        text-align: center;
      }
      footer{
        min-height: 100px; 
      }
      h6 {
        font-size: 16px;
      }
    
    .logo-mp {
        max-width: 215px; 
    }
    
}
@media (min-width: 900px) and (max-width: 1199px){
    .container-fluid img{
        height: 160px;
        width: 160px;
    }
    .whatsapp-icono {
        width: 70px; 
        height: 70px;
        bottom: 10px; 
        z-index: 1000;
    } 
    .instagram-icono{
        width: 70px; 
        height: 70px;
        bottom: 90px;
        z-index: 1000;
    }
    .agrando2 img {
        padding: 10px; 
    }
    .texto{
        left: 25%;
        top: 52%;
    }
    .cont{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .parrafo{
        font-size: 22px;
    }
    .parrafo2, .parrafo3{
        font-size: 16px;
        padding: 10px;
    }
    .parrafo2{
        margin-top: 10px;
    }
    .agrandar-menu{
        font-size: 17px;
    }
    .footer-estilos {
        grid-template-columns: auto auto;
        font-size: 20px;
        text-align: center;
      }
      footer{
        min-height: 120px; 
      }
      h6 {
        font-size: 20px;
      }
    
    .logo-mp {
        max-width: 400px; 
    }
}
@media (min-width: 1200px){
    .whatsapp-icono {
        width: 80px; 
        height: 80px;
        bottom: 105x; 
        z-index: 1000;
    } 
    .instagram-icono{
        width: 80px; 
        height: 80px;
        bottom: 105px;
        z-index: 1000;
    }
    .agrando2 img {
        padding: 10px; 
    }
    .texto{
        left: 25%;
        top: 52%;
    }
    .cont{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .parrafo{
        font-size: 26px;
    }
    .parrafo2, .parrafo3{
        font-size: 20px;
        padding: 15px;
    }
    .agrandar-menu{
        font-size: 19px;
    }
    .footer-estilos {
        grid-template-columns: auto auto;
        font-size: 26px;
        text-align: center;
      }
      footer{
        min-height: 140px; 
      }
      h6 {
        font-size: 26px;
      }
    
    .logo-mp {
        max-width: 500px; 
    }

}


/* PRODUCTOS */
@media (max-width: 320px) {
    .padre-productos,
    .padre-productos2,
    .padre-productos3 {
        width: 90%; 
        grid-template-columns: auto; 
        row-gap: 1rem; 
        justify-items: flex-start;
        padding: 5px;
        
    }
    #tit {
        font-size: 24px;
    }

    .tit2 {
        font-size: 18px; 
    }

    .divs img {
        width: 60px; 
        height: 60px;
    }
    div .texto-secundario {
        display: block; 
        margin-top: 5px; 
        font-size: 12px;

    }

    .agrandar img {
        height: 180px;
        width: 180px;
    }

    .agrandar {
        font-size: 16px; 
    }
    .tit-bombones {
        padding: 10px;
        font-size: 18px; 
    }

    .texto-corrido {
        margin-left: 5px; 
    }
    .divs-texto{
        text-decoration: underline;
        font-weight: bold;
    }
}
/* PRODUCTOS */

/* PRODUCTOS */
@media (min-width: 321px) and (max-width: 500px) {
    .container-fluid img{
        height: 120px;
        width: 120px;
    }
    .padre-productos,
    .padre-productos2,
    .padre-productos3 {
      width: 90%;
      grid-template-columns: auto;
      row-gap: 1rem; 
      justify-items: flex-start;
      padding: 5px;
    }
  
    .divs {
      margin: 10px 0;
    }
  
    .agrandar img {
      height: 200px;
      width: 200px;
    }
  
    .agrandar {
      font-size: 18px;
    }
  
    div .texto-secundario {
        display: block; 
        margin-top: 5px; 
        font-size: 14px;
    }
    .divs img {
      width: 70px;
      height: 70px;
      margin-left: 0;
    }
    .agrandar img {
        height: 180px;
        width: 180px;
        
    }
    .agrandar {
        justify-items: flex-start;
    }
    .divs-texto{
        text-decoration: underline;
        font-weight: bold;
    }
  
  }
  
/* PRODUCTOS */






@media (min-width: 768px){
    /* PRODUCTOS */
    .container-fluid img{
        height: 140px;
        width: 140px;
    }
    .menu-chico{
        grid-template-columns: repeat(5, auto);
        grid-template-rows: auto;
        font-size: 15px;
    }
    .header-todos img{
        width: 200px;
        height: 200px;
    }
    .divs img{
        align-content: space-evenly;
        margin-left: 35%;
    }
    #tit{
        font-size: 40px;
    }
    .tit2{
        font-size: 30px;
    }
    .tit-bombones{
        font-size: 20px;
    }
    .divs img{
        width: 130px;
        height: 130px;
    }
    .divs-texto{
        text-decoration: underline;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }
    div .texto-secundario{
        display: grid;
        text-align: center;
    }
    /* PRODUCTOS */
}

    /* PRODUCTOS */
    @media (min-width: 1200px) {
        .padre-productos,
        .padre-productos2,
        .padre-productos3 {
          width: 80%;
          margin: 0 auto;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
          background-color: white;
        
          justify-items: center;
          align-items: center;
          border-radius: 5px;
          grid-gap: 10px;
          padding: 20px; 
        }
        .divs {
          text-align: center;
        }
      
        .divs img {
          width: 150px;
          height: 150px;
          margin: 10px auto;
          display: block;
        }
      
        .padre-productos .divs p,
        .padre-productos2 .divs p,
        .padre-productos3 .divs p {
          margin: 10px 0;
        }
      
        .agrando img {
          width: 200px;
          height: 200px;
        }
      }
      /* PRODUCTOS */

      //CONTACTO
      @media (min-width: 321px) and (max-width: 500px){
        .margin-cont{
            font-size: 14px;
        }
        .tit-cont{
            font-size: 26px;
        }
        .tit2-cont{
            font-size: 16px;
        }
        .boton-cont{
            width: 12px;
            height: 12px;
        }
      }
      @media (min-width: 501px) and (max-width: 700px){
        .margin-cont{
            font-size: 14px;
        }
        .tit-cont{
            font-size: 28px;
        }
        .tit2-cont{
            font-size: 16px;
        }
        .boton-cont{
            width: 13px;
            height: 13px;
        }
      }

      @media (min-width: 701px) and (max-width: 899px){
        .margin-cont{
            font-size: 18px;
        }
        .tit-cont{
            font-size: 32px;
        }
        .tit2-cont{
            font-size: 20px;
        }
        .boton-cont{
            width: 15px;
            height: 15px;
        }
        .agrandar-menu{
            font-size: 16px;
        }
      }

      //CONTACTO
      @media (min-width: 900px) and (max-width: 1199px){
        .margin-cont{
            font-size: 22px;
        }
        .tit-cont{
            font-size: 36px;
        }
        .tit2-cont{
            font-size: 24px;
        }
        .boton-cont{
            width: 19px;
            height: 19px;
        }
        .agrandar-menu{
            font-size: 20px;
        }
    }

      //CONTACTO
      @media (min-width: 1200px){
        .margin-cont{
            font-size: 26px;
        }
        .tit-cont{
            font-size: 40px;
        }
        .tit2-cont{
            font-size: 30px;
        }
        .boton-cont{
            width: 25px;
            height: 25px;
        }
        .agrandar-menu{
            font-size: 22px;
        }
    }