 // COLOR BLANCO
 $color-blanco: white;


 // COLOR NEGRO
$color-negro: black;


//BORDE
 $borde: 1px solid $color-negro;    


 //RGBA
 $color-nos2: rgba(139, 69, 19, 1);


 //DEGRADE
 $gradient-promo: linear-gradient(#3c2a21e1, #63524ae1);


 //FONDO PRODUCTOS
 $prod-body: #443424;


 //COLOR WSP
 $wsp: #25d366;


 //COLOR INSTAGRAM
 $ig: #5851DB;